{% include "header.html" %}
<title>
    PrivaSeer - About
</title>

<div class="bg-light">
  <div class="container">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 col-sm-12">
        <h1 class="display-4">About Us</h1>
      </div>
      <div class="col-lg-6 col-sm-12">
		<p> PrivaSeer is an evolving privacy policy search engine. It aims to make privacy policies transparant, discoverable and searchable. 
		    Various faceted search features aim to help users get novel insights into the nature of privacy policies.
                    PrivaSeer can be used to search for privacy policy text or URLs.
                </p>
		<p>
			PrivaSeer currently has over 1.4 million privacy policies indexed and we are always looking to add more.
                        We crawled privacy policies based on URLs obtained from <a href="https://commoncrawl.org/">Common Crawl</a> and the <a href="https://docs.peopledatalabs.com/docs/free-company-dataset">Free Company Dataset</a>.
		</p>
		<p> 
			If you have a feature request or just want to tell us that we're doing something right, write to us on our <a href="/contact-us">contact</a> page. 
		</p>
		<p>
		        This research was supported in part by grants from the National Science Foundation's Secure and Trustworthy Computing program (CNS-2105745, CNS-2105734, CNS-2105736).
		</p>
	  </div>
    </div>
  </div>
</div>

<!--
    <div class="row text-center">
      <div class="col-xl-4 col-sm-6 mb-5">
        <a href="http://clgiles.ist.psu.edu/"><div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://ist.psu.edu/sites/default/files/directory/Giles-Lee.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></a>
          <h5 class="mb-0">C. Lee Giles</h5><span class="small text-uppercase text-muted">David Reese Professor of Information Sciences and Technology</span>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-5">
        <a href="http://shomir.net"><div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://ist.psu.edu/sites/default/files/directory/Wilson-Shomir.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></a>
          <h5 class="mb-0">Shomir Wilson</h5><span class="small text-uppercase text-muted">Assistant Professor of Information Sciences and Technology</span>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-5">
        <a href="https://ist.psu.edu/directory/mus824"><div class="bg-white rounded shadow-sm py-5 px-4" style="height: 100%;"><img src="https://ist.psu.edu/sites/default/files/directory/Skinath-Mukund.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"></a>
          <h5 class="mb-0">Mukund Srinath</h5><span class="small text-uppercase text-muted">PhD Student</span>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4" style="height: 100%;"><img src="https://www.eecs.psu.edu/webappl/grad-photos/SXN5310.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Soundarya Nurani Sundareswara</h5><span class="small text-uppercase text-muted">Master's Student</span>
        </div>
      </div>
    </div>
-->
{% include "footer.html" %}
	
