<!--<style>
    .footer-holder{
        bottom: 0px;
        width: 100%;
        position: absolute;
    }
</style>-->
{% include "header.html" %}

<title>	
    PrivaSeer - Data & Code	
</title>

<div class="bg-light">
  <div class="container">
    <div class="row h-100 align-items-center py-5">
        <div class="col-sm-12">
            <h1 class="display-4">Data and Code</h1>
        </div>
        <div clas="col-sm-12">
            <h3 class="">PrivaSeer Corpus and Langauge Model (ACL, 2021)</h3>
            <p>The PrivaSeer corpus is a collection of 1,005,380 privacy policies described in the following paper</p>
            <p>Mukund Srinath, Shomir Wilson and C. Lee Giles. Privacy at Scale: Introducing the PrivaSeer Corpus of Web Privacy Policies. In Proc. ACL 2021.</p>
            <p>For technical questions about this data, please contact Mukund Srinath (mukund@psu.edu). For licensing questions, please contact Prof. Shomir Wilson (shomir@psu.edu).</p>
            <p>For research, teaching, and scholarship purposes, the corpus is available under a CC BY-NC-SA license. Please contact us for any requests regarding commercial use.</p>
            <p>Link to the corpus: <a href="https://drive.google.com/drive/folders/1zJFy13tqeWscvad-xUfAYGTG1Lhv74Mb?usp    =sharing">https://drive.google.com/drive/folders/1zJFy13tqeWscvad-xUfAYGTG1Lhv74Mb?usp=sharing</a></p>
            <p>Link to the privacy policy langauge model (PrivBERT): <a href="https://huggingface.co/mukund/privbert">https://huggingface.co/mukund/privbert</a></p>
        </div>
    </div>
  </div>
</div>
<div class="footer-holder">
{% include "footer.html" %}
</div>
