{% include "header.html" %}
<title>
    PrivaSeer - News
</title>

<div class="bg-light">
	<div class="container">
		<div class="row h-100 align-items-center py-5">
			<div class="col-sm-12">
				<h1 class="display-4">News</h1>
			</div>
			<div class="col-sm-12">
				<p><a href="https://www.psu.edu/news/research/story/search-engine-could-help-researchers-scour-internet-privacy-documents/">Search engine could help researchers scour internet for privacy documents, October 2021</a></p>
				<p><a href="https://www.psu.edu/news/research/story/12-million-nsf-grant-create-search-engine-online-privacy-research"> $1.2 million NSF grant to create search engine for online privacy research, June 2021</a></p>
				<p><a href="https://elpais.com/tecnologia/2021-11-03/textos-en-latin-y-longitudes-inasumibles-las-revelaciones-de-un-buscador-de-politicas-de-privacidad.html">Latin texts and unassumable lengths: the revelations of a search engine for privacy policies, November 2021</a></p>
			</div>
		</div>
	</div>
</div>				


{% include "footer.html" %}
	
