{% include "header.html" %}

<div class="bg-light">
  <div class="container">
    <div class="row h-100 align-items-center py-5">
      <div class="col-sm-12">
        <h1 class="display-4">Privacy Policy</h1>
      </div>
      <div class="col-sm-12">
    <div class="ptext">
        <p>PrivaSeer respects the privacy of users of this site and believes that such information should be used responsibly and appropriately. If you have any questions that were not answered on this page, then please contact us by email. This privacy statement does not extend to anything that is inherent in the operation of the Internet or beyond our control, and is not to be applied in any manner contrary to applicable laws, rules or regulations. By using this site, you consent to the collection and use of your information as we have outlined herein.</p>

<!--        <h3>Registration is NOT Required to Search CiteSeer<sup>x</sup></h3>

        <p>All users may visit and search this site anonymously and without revealing any additional personal information.</p>

        <h3>Registration IS Required to Send or Receive CiteSeer<sup>x</sup> Information</h3>
        <ul>
        <li>Registration is free!</li>
        <li>Only your email address is required for registration.</li>
        <li>You must register if you wish to request information, ask questions, or submit comments, corrections or updates.</li>
        <li>You may optionally provide us with your name, address, and other personal information, but such information is not required for registration.</li>
        </ul>

        <h3>CiteSeer<sup>x</sup> Uses "Cookies"</h3>
        <ul>
        <li>for storing user preferences, encrypted passwords, and user identifiers.</li>
        <li>to improve the quality of our service and to better understand our userbase. For example, by tracking user access patterns, this site can optimize performance.</li>
        <li><strong>When You Disable Cookies</strong> - Your browser may allow you to refuse cookies or to notify you when they are sent. Some parts of this site may not function properly if you refuse cookies.</li>
        </ul> -->

        <h3>PrivaSeer Not Liable for Other Sites</h3>

        <p>This site displays and links to sites developed by people over whom we exercise no control. These other sites may send their own cookies to users, collect data, or solicit personal information, and we are not liable for such actions.</p>

        <h3>Collecting User Data Improves PrivaSeer</h3>
        <p>Data that we analyze for trends, statistics and security:</p>
        <ul>
          <li>the countries and domains from which people visit us,</li>
          <li>the browser and/or Internet Service Provider used,</li>
          <li>and other related data, such as what links were selected.</li>
        </ul>

        <p>We may choose to present links in the form of a "URL redirector." When this site uses a URL redirector, if you click on a URL, information about that click is sent to this site, and this site in turn sends you to the site you clicked on. We may use this information to understand and improve this site. For example, we may use this information to determine how often various features are used.</p>

        <p>With each access to our Web site, data is automatically provided to us by your browser. This information would include:</p>
        <ul>
          <li>the type of computer, browser and operating system you are using,
          </li><li>your IP address,
          </li><li>and time of day our site was accessed.
        </li></ul>
        <p>This information is used to improve our service. For example, we may use your browser type to customize response pages for your browser.</p>

        <h3>Personally Identifiable Information is NOT Shared with Third Parties</h3>
        <p>We do not willfully share any personally identifiable information with third parties without your consent.
        Please note that we may share aggregate information with third parties.</p>
        <p>For example, we may disclose how often the average user visits this site, or which queries are the most common.</p>

        <h3>If Your Information is Required by Valid Legal Process</h3>
        <p>Please be aware, that we will release specific personal information about you if required to do so in order to comply with any valid legal process such as a search warrant, statute, subpoena or court order.</p> 
    </div>
</div>
    </div>
  </div>
</div>
</div>
{% include "footer.html" %}
