{% include "header.html" %}
<title>
   PrivaSeer - Privacy Policy
</title>

<div class="bg-light">
  <div class="container">
    <div class="row h-100 align-items-center py-5">
      <div class="col-sm-12">
        <h1 class="display-4">Privacy Policy</h1>
      </div>
      <div class="col-sm-12">
    <div class="ptext">
        <p>PrivaSeer is our search engine for the privacy policies of 1.4 million English language websites. This privacy policy will explain how PrivaSeer uses the personal data we collect from you when you use our website.</p>
        
        <p>Topics:</p>
	<ul>
           <li>What data do we collect?</li>
           <li>How do we collect your data?</li>
           <li>How will we use your data?</li>
	   <li>How do we store your data?</li>
           <li>What are your data protection rights?</li>
           <li>What are cookies?</li>
           <li>How do we use cookies?</li>
           <li>What types of cookies do we use?</li>
           <li>How to manage your cookies</li>
           <li>Privacy policies of other websites</li>
           <li>Changes to our privacy policy</li>
           <li>How to contact us</li>
        </ul>

        <h4>What data do we collect?</h4>
        <p>PrivaSeer collects the following data:</p>
        <ul>
          <li>Name</li>
          <li>Email</li>
          <li>IP address</li>
          <li>Time of visit</li>
          <li>Page visited</li>
        </ul>

	<h4>How do we collect your data?</h4>
        <p>You directly provide PrivaSeer with most of the data we collect. We collect data and process data when you:</p>
        <ul>
          <li>Voluntarily complete the "Contact Us" page.</li>
          <li>Use or view our website via your browser's cookies.</li>
	</ul>  

       <p>PrivaSeer may also receive your data indirectly from the following sources:</p>
        <ul>
          <li>Google Analytics</li>
        </ul> 

	<h4>How will we use your data?</h4>
        <p>PrivaSeer collects your data so that we can:</p>
	<ul>
	  <li>Understand how you use our website</li>
	</ul>

	<h4>How do we store your data?</h4>
	<p>PrivaSeer stores your data in Apache access logs on the same server on which the website is hosted. The server is secured using a firewall and encrypted connections for maintenance.</p>
	<p>PrivaSeer will keep your personal and online behavior data for one month. Once this time period has expired, we will delete your data by deleting the corresponding log files.</p>

	<h4>What are your data protection rights?</h4>
	<p>PrivaSeer would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
	<p><b>The right to access</b> - You have the right to request PrivaSeer for copies of your personal data. We may charge you a small fee for this service.</p>
	<p><b>The right to rectification</b> - You have the right to request that PrivaSeer correct any information you believe is inaccurate. You also have the right to request PrivaSeer to complete the information you believe is incomplete.</p>
	<p><b>The right to erasure</b> - You have the right to request that PrivaSeer erase your personal data, under certain conditions.</p>
	<p><b>The right to restrict processing</b> - You have the right to request that PrivaSeer restrict the processing of your personal data, under certain conditions.</p>
	<p><b>The right to object to processing</b> - You have the right to object to PrivaSeer's processing of your personal data, under certain conditions</p>
	<p><b>The right to data portability</b> - You have the right to request that PrivaSeer transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>

	<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please write to us at the  
        <a href="http://privaseer.ist.psu.edu/contact-us">Contact Us</a> page.</p>

	<p>Alternatively, you may contact the help desk at College of Information Science and Technology at <a href="mailto:helpdesk@ist.psu.edu">helpdesk@ist.psu.edu</a>.</p> 

	<h4>Cookies</h4>
	<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.
	</p>

	<p>For further information, visit <a href="https://allaboutcookies.org">allaboutcookies.org</a>.</p>

	<h4>How do we use cookies?</h4>
	<p>PrivaSeer uses cookies in a range of ways to improve your experience on our website, including:</p>
	<ul>
	  <li>Understanding how you use our website</li>
	</ul>

	<h4>What types of cookies do we use?</h4>
	<p>There are a number of different types of cookies. However, our website uses:</p>
	<ul>
	   <li>Analytics - PrivaSeer uses cookies from Google (a third-party partner) for analyzing users' behavior on our website. These cookies allow us to analyze for trends, statistics and security. 
               You can view how Google Analytics collects and processes data at this <a href="https://google.com/policies/privacy/partners/">page</a>.</li>
	</ul>

	<h4>How to manage cookies</h4>
	<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

	<h4>Privacy policies of other websites</h4>
	<p>The PrivaSeer website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

	<h4>Changes to our privacy policy</h4>
	<p>PrivaSeer keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 12 June 2020.</p>

	<h4>How to contact us</h4>
	<p>If you have any questions about PrivaSeer's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
        </p>
	<p>Write to us at the <a href="http://privaseer.ist.psu.edu/contact-us">Contact Us</a> page.</p>
	<p>Alternatively, you may contact the help desk at College of Information Science and Technology at <a href="mailto:helpdesk@ist.psu.edu">helpdesk@ist.psu.edu</a>.</p>

    </div>
</div>
    </div>
  </div>
</div>
</div>
{% include "footer.html" %}
