{% include "header.html" %}
<title>
    PrivaSeer - Publications
</title>

<div class="bg-light">
	<div class="container">
		<div class="row h-100 align-items-center py-5">
			<div class="col-sm-12">
				<h1 class="display-4">Publications</h1>
			</div>
			<div class="col-sm-12">
				<p><a href="https://aclanthology.org/2021.acl-long.532/"><b>Privacy at Scale: Introducing the PrivaSeer Corpus of Web Privacy Policies</b></a>. Mukund Srinath, Shomir Wilson, and C. Lee Giles. In Proceedings of the 59th Annual Meeting of the Association for Computational Linguistics (ACL), 2021.</p>
				<p><a href="https://doi.org/10.1145/3469096.3474940"><b>A large-scale exploration of terms of service documents on the web</b></a>. Soundarya Nurani Sundareswara, Mukund Srinath, Shomir Wilson and C. Lee Giles. In Proceedings of the 21st ACM Symposium on Document Engineering (DocEng), 2021.</p>
				<p><a href="https://link.springer.com/chapter/10.1007/978-3-030-74296-6_22"><b>PrivaSeer: A Privacy Policy Search Engine</b></a>. Mukund Srinath, Soundarya Nurani Sundareswara, C. Lee Giles, and Shomir Wilson. In Proceedings of the 21st International Conference on Web Engineering (ICWE), 2021.</p>
				<p><a href="https://www.usenix.org/system/files/soups2020_poster_sundareswara.pdf"><b>Privacy Not Found: A Study of the Availability of Privacy Policies on the Web</b></a>. Soundarya Nurani Sundareswara, Shomir Wilson, Mukund Srinath, C. Lee Giles. In the Sixteenth Symposium on Usable Privacy and Security (unpublished work), held online, August 2020.</p>
			</div>
		</div>
	</div>
</div>				

{% include "footer.html" %}
