{% include "header.html" %}
<title>
    PrivaSeer - Publications
</title>

<div class="bg-light">
	<div class="container">
		<div class="row h-100 align-items-center py-5">
			<div class="col-sm-12">
				<h1 class="display-4">Publications</h1>
			</div>
			<div class="col-sm-12">
				<p>Mukund Srinath, Shomir Wilson, C Lee Giles. <a href="https://aclanthology.org/2021.acl-long.532/"><b>"Privacy at Scale: Introducing the PrivaSeer Corpus of Web Privacy Policies"</b></a>, ACL 2021:  Annual Meeting of the Association for Computational Linguistics, August 2021.</p>
				<p>Soundarya Nurani Sundareswara, Mukund Srinath, Shomir Wilson, C. Lee Giles. <a href="https://doi.org/10.1145/3469096.3474940"><b>A large-scale exploration of terms of service documents on the web</b></a>, DocEng 2021: ACM Symposium on Document Engineering, August 2021.</p>
				<p>Mukund Srinath, Soundarya Nurani Sundareswara, C. Lee Giles, Shomir Wilson. <a href="https://link.springer.com/chapter/10.1007/978-3-030-74296-6_22"><b>PrivaSeer: A Privacy Policy Search Engine</b></a>, ICWE 2021: International Conference on Web Engineering, May 2021.</p>
				<p>Soundarya Nurani Sundareswara, Shomir Wilson, Mukund Srinath, C Lee Giles. <a href="https://www.usenix.org/system/files/soups2020_poster_sundareswara.pdf"><b>Privacy Not Found: A Study of the Availability of Privacy Policies on the Web
</b></a>, SOUPS 2020: Symposium on Usable Privacy and Security, USENIX, August 2020. Poster.</p>
			</div>
		</div>
	</div>
</div>				


{% include "footer.html" %}
	
